.back{
    /* background-color: white; */
    width: 139px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 8px;
}
.container{
    /* padding: 50px; */
}
.border-countries{
    max-width: 500px;
}
.f-700 span{
    font-weight: 700;
    padding-right: 5px;
}

.border-countries span{
    font-size: large;
    font-weight: 700;
}
.country-name-btn{
    background: white;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 8px;
    margin-top: 20px;
}
.country-name-btn:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 10px 15px 23px #888888;
}
.countries{
    display: flex !important;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .main{
        flex-direction: row !important;
        justify-content: space-between;
        gap: 10px;
    }
    .flag{
        width: 45%;
    }
    .flag img{
        object-fit: fill;
        /* max-height: 80%; */
    }
    .raw-data{
        display: flex;
        flex-direction: column;
    }
    .details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
    }
    .level-domain{
        padding-top: 80px;
    }
    .languages p{
        max-width: 200px;
    }
}